body,html {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: auto;
}
#settings_div{
	flex-grow:1;
	width: auto;
	margin: 2% 3%;
}
#preview_div{
	flex-grow:1;
	height: auto;
	width: 99%;
}
#preview{
	height: auto;
	width: 99%;
}
footer{
	left: 4%;
}